body{
  margin:auto;
  text-align:center;
  width:100%;
}
h1{
  color:pink;
  margin-top:300px;
}
div{
  border:1px solid black;
  border-radius:5px;
  background-color:green;
  margin:auto;
  height:40px;
  width:120px;
  
}
